/* all common styles */
*{
    margin: 0;
}
/* header section styles */

.party-container{
      background: url(../resources/Banner\ Image.png);
    margin: 50px 140px 70px 140px;
    background-size: 100%; 
    background-repeat: no-repeat;
}
.party-text-container{
    background: linear-gradient(rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.1));
    border-radius: 15px;
     text-align: center;
    background-size:100%;
    padding: 175px 340px;   
}
.party-title{
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF; 
    font-family: 'Merriweather';   
}
.party-text{
    font-weight: 900;
    font-size: 72px;
    color: #FFFFFF;
    font-family: 'Merriweather';
}
/* main section styles */
.main-section-type-1{
    padding: 0 400px;

}
.main-section-type-1-section{
    text-align: center;
}
.type-1-title{
    font-family:'inter';
    font-weight: bold;
    font-size: 88px;
    color: #FF0000;
    margin-bottom: 48px;
}
.type-1-description{
    font-family: 'inter';
    font-size: 24px;
    font-weight:500;
    color: #FF0000;
    margin-bottom: 18px;
}
.type-1-description-2{
    font-family: 'inter';
    font-size: 48px;
    font-weight: bold;
    color: #070211;
    margin-bottom: 48px;
}
.type-1-happy-new-year{
    width: 800px;
    height: 500px;
}
/* midnight party section styles */


.midnight-party{
    
    background:linear-gradient(90deg,rgba(0, 0, 0, 1),rgba(0, 0, 0, 0)),url(../resources/Vectorrr.png);
    
    border-radius: 10px;
    margin: 120px 140px;
    display: flex; 
    

}

.party-column-1-title{
    font-family: 'merriweather';
    font-size: 64px;
    font-weight: 900;
    color: #FFFFFF;
    padding: 126px 95px 24px 126px;
}
.party-column-1-description{
    font-family: 'inter';
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    padding: 0 40px 50px 126px;
}
.party-column-1-join{
    font-family: 'inter';
    font-size: 20px;
    font-weight:bold;
    color: #FFFFFF;  
    margin: 0 500px 140px 160px;
    
}
.ex{
    
    margin: 70px 140px 67px 20px;
}
/* address section styles */
.address-section{
    margin: 120px 140px;
    background: linear-gradient(pink,white);
    border-radius: 10px;
}
.address-container{
    padding:120px 300px 45px 300px;
    
}
.address-detail{
    font-family: 'inter';
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin: 10px;
}
.address-span{
    font-size: 32px;
    font-weight: 600;
    font-family: 'inter';
    color: #FF0000;
}
.address-section-join-btn{
   margin: 0px 500px 100px 550px;
   padding: 16px 32px;
   font-family: 'inter';
   font-weight: 700;
   font-size: 20px;
   color: #FFFFFF;
   background-color: #FF0000;
   border: 0;
   border-radius: 8px;

}