/* all common styles */
*{
    margin: 0;
}
/* header section styles */

.party-container{
      background: url(../resources/Banner\ Image.png);
    margin: 50px 140px 70px 140px;
    background-size: 100%; 
    background-repeat: no-repeat;
}
.party-text-container{
    background: linear-gradient(rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.1));
    border-radius: 15px;
     text-align: center;
    background-size:100%;
    padding: 175px 340px;   
}
.party-title{
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF; 
    font-family: 'Merriweather';   
}
.party-text{
    font-weight: 900;
    font-size: 72px;
    color: #FFFFFF;
    font-family: 'Merriweather';
}
/* main section styles */
.main-section-type-1{
    padding: 0 400px;

}
.main-section-type-1-section{
    text-align: center;
}
.type-1-title{
    font-family:'inter';
    font-weight: bold;
    font-size: 88px;
    color: #FF0000;
    margin-bottom: 48px;
}
.type-1-description{
    font-family: 'inter';
    font-size: 24px;
    font-weight:500;
    color: #FF0000;
    margin-bottom: 18px;
}
.type-1-description-2{
    font-family: 'inter';
    font-size: 48px;
    font-weight: bold;
    color: #070211;
    margin-bottom: 48px;
}
.type-1-happy-new-year{
    width: 800px;
    height: 500px;
}
/* midnight party section styles */


.midnight-party{
    display:flex; 
    background:linear-gradient(90deg,rgba(0, 0, 0, 1.0),rgba(0, 0, 0, 0)),url(../resources/Vectorrr.png);   
    border-radius: 10px;
    margin: 120px 140px;
    }

.party-column-1-title{
    font-family: 'merriweather';
    font-size: 64px;
    font-weight: 900;
    color: #FFFFFF;
    padding: 126px 95px 24px 126px;
}
.party-column-1-description{
    font-family: 'inter';
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    padding: 0 40px 50px 126px;
}
.party-column-1-join{
    font-family: 'inter';
    font-size: 20px;
    font-weight:bold;
    color: #FFFFFF;  
    margin: 0 500px 140px 160px;
    
}
.ex{
    
    margin: 70px 140px 67px 20px;
}
/* address section styles */
.address-section{
    margin: 120px 140px;
    background: linear-gradient(rgba(255, 192, 203, 0.444),white);
    border-radius: 10px;
}
.address-container{
    padding:120px 300px 45px 300px;
    
}
.address-detail{
    font-family: 'inter';
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin: 10px;
}
.address-span{
    font-size: 32px;
    font-weight: 600;
    font-family: 'inter';
    color: #FF0000;
}
.address-section-join-btn{
   margin: 0px 500px 100px 550px;
   padding: 16px 32px;
   font-family: 'inter';
   font-weight: 700;
   font-size: 20px;
   color: #FFFFFF;
   background-color: #FF0000;
   border: 0;
   border-radius: 8px;

}
/* coming soon section style */
.coming-soon-container{
    display: flex;
    justify-content: space-around;
    margin:0px 140px 120px 140px;
    
}
.column-1{
    width: 390px;
}
.column-2{
    width: 460px;
}
.column-3{
    width: 270px;
}
.coming-soon-text{
    font-family: 'inter';
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
     margin: 104px 0px 15px 0;    
}
.coming-soon-title{
    font-size: 48px;
    font-family: 'Merriweather';
    font-weight: 900;
    color: #070211;
    margin: 20px;
    margin-left: 0;
}
.coming-soon-description{
    font-family: 'inter';
    font-weight: 400;
    font-size: 17px;
    color: #070211;
}
#img-circle{
    border: 10px solid #FF0000;
    border-radius: 50%;
    padding: 20px;
}
.coming-soon-2024{
    font-family: 'inter';
    font-size: 48px;
    font-weight: bold;
    color: #FF0000;
    padding-top: 120px;
    margin-right: 100px;
    
}
.coming-soon-2024-description{
    font-family: 'inter';
    font-size:16px;
    font-weight: 400;
    color: #070211;
    margin: 16px 0 48px 0;
    text-align: left;
}


/* discount section styles */


.discount-section{
    margin: 120px 140px;
}
.discount-title{
    font-family: 'inter';
    font-weight: 500;
    font-size: 24px;
    padding: 1px 450px 16px 500px;
    color: #070211;
    
}
.discount-50{
    font-family: 'Merriweather';
    font-size: 72px;
    font-weight: 900;
    color: #070211;
    padding: 0 250px 25px 250px;
}
.holidays{
    color: #FF0000;
}
.discount-description{
    font-family: 'inter';
    font-size: 20px;
    font-weight: 500;
    color: #070211;
    padding: 0 120px 60px 120px;
    text-align: center;
}
/* sale pics section styles  */
.sale-pic{
  
    

    
}
.sale-pic-container{
    margin: 120px 140px;
    /* border: 1px solid; */
    min-width: 1000px;   
    min-height: 665px;
    position: relative;
    
}
.sale-red-rectangle{
    position: absolute;
    bottom: 0;
    width: 1240px;
    
    
}
.sale-surprise-box{
    position: absolute;
    left: 0;
    bottom: 85px;

}
.sale-surprise-girl{
    position: absolute;
    right: 0;
    top: 3px;

}
.sale-discount-logo{
    position: absolute;
    right: 275px;
    top: 135px;
    transform: rotate(-10deg);
}
/* Portfolio section part one styles */
.portfolio-1st-container{
    margin: 120px 420px 50px 140px;
}

.port-1st-text{
    font-family: 'inter';
    font-size: 24px;
    font-weight: 700;
    color: #FF0000;

}
.port-2nd-title{
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    color: #070211;
    margin: 20px 0 20px 0;
}
.port-1st-description{
    font-family: 'inter';
    font-size: 20px;
    font-weight: 400;
}
/* portfolio grid section styles */
.portfolio-images img{
    width: 380px;
}
.portfolio-grid-container{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px 400px;
    gap: 30px;
    margin: 0 140px 0   140px;
}   
.portfolio-images:hover{
    transform: scale(1.05);
}
/* subscribe section styles */
.sub-image{
    margin-top: 80px;
}
.subscribe-container{
    background-color: rgba(255, 182, 193, 0.179);
    margin: 120px 140px;
    border-radius: 15px;
    text-align: center;
}
.sub-title{
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    color: #070211;
    margin-top: 40px;
    margin-bottom: 25px;
}
.sub-description{
    font-family: 'inter';
    font-size: 20px;
    font-weight: 400;
    color: #070211;
    margin: 0 210px 48px 210px;
}
.subscribe-input-text{
    font-family: 'inter';
    font-size: 18px;
    font-weight: 400;
    color: #070211;
    padding: 25px 277px 25px 30px;
    border: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-bottom: 80px;
    position: relative;
    margin-right: 0;
}
.subscribe-button{
    font-family:'inter';
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 24px 56px;
    background-color: #FF0000;
    margin-left: 0;

}